.theme--light {
  --color-primary: #184181;
  --color-secondary: #3584B8;
  --color-bg: #FFFFFF;
  --color-bg-particle: #162338;
  --color-font-light: #D9D9D9;
  --color-font-light-2: #FFFFFF;
  --color-font-1: #184181;
  --color-font-2: #525252;
  --color-font-3: #878787;
  --color-font-3-light: #A6A6A6;
}

.theme--dark {
  --color-primary: #161B22;
  --color-secondary: #B5B3B3;
  --color-bg: #0D1117;
  --color-bg-particle: #000000;
  --color-font-light: #D9D9D9;
  --color-font-light-2: #FFFFFF;
  --color-font-1: #FFFFFF;
  --color-font-2: #EEEAEA;
  --color-font-3: #D9D9D9;
  --color-font-3-light: #D7D6D6;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, p {
  font-family: 'Roboto';
}

.bg-container {
  height: fit-content;
  display: flex;
}

.cv-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12vh;
  padding-bottom: 12vh;
  z-index: 2;
}

/* Particle.js */

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--color-bg-particle);
}

/* Theme button */
.btn-theme {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 4;
  background-color: var(--color-font-1);
  margin-left: auto;
}

.theme--light .btn-theme {
  color: var(--color-font-light-2);
}

.theme--dark .btn-theme {
  color: var(--color-primary);
}

@media (max-width: 1400px) {
  #particles-js {
    display: none;
  }

  .cv-container {
    max-width: 100%;
    padding: 0;
  }
}

@media (max-width: 1000px) {
  .cv-container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%;
  }

  .menu--open {
    flex-direction: row;
  }

  .btn-theme {
    background-color: var(--color-font-light-2);
    margin-right: 15px;
  }

  .theme--light .btn-theme {
    color: var(--color-primary);
  }

  .theme--dark .btn-theme {
    color: var(--color-primary);
  }

  .menu--open .btn-theme {
    margin-right: 0;
  }

  .home .btn-theme {
    display: none;
  }
}